{% extends "base.html" %}
   
{% block content %}

{% if entries|length == 0 %}
    <p>No posts yet</p>
    {% else %}

    <hr />

    <h2>Entries</h2>

    <ul>
        {% for blog in entries %}
        <a href='/individual?id={{blog.id}}'>
        <h2>{{blog.title}}</h2>
        </a>
        <h3>{{blog.body}}</h3>
        <a href='/user_id_page?user={{blog.owner.id}}'>
        <h6>Written By: {{blog.owner.username}}</h6>
        </a>
        <hr />
        {% endfor %}

        <!-- <a href='/user_id_page?id={{userID}}'> -->
        <!-- <h6>working?</h6> -->
        <!-- </a> -->
    </ul>

{% endif %}

{% endblock %}
